@page "/device/{id}"
@using System.Text.Json;
@inject NavigationManager uriHelper;
@inject IDeviceService deviceService
@inject ILogger<DeviceList> logger
@inject ILocalStorageService _localStorageService
@inject NavigationManager NavManager

<h1>Blazor is @ID</h1>

<h3>DeviceSelected</h3>

<h3>@properties</h3>

@if (device == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        @foreach (var property in device.Properties)
        {
            <h3>@property.Key</h3>
            <p>@property.Value.Title</p>
            <p>@property.Value.Description</p>
            <p>@property.Value.Type</p>
            @if (property.Value.Type == "boolean")
            {
                <input type="checkbox" checked="@properties.GetProperty(property.Key).GetBoolean()"
        @onchange="eventArgs => { UpdateHeading(property.Key, eventArgs.Value); }" />
            }
            else if (property.Value.Type == "integer")
            {
                <input type="number" value="@properties.GetProperty(property.Key).GetInt32()" @onchange="eventArgs => { 
                        var value = Int32.Parse(eventArgs.Value.ToString());
                        UpdateHeading(property.Key, value);
                    }" />
            }
            <br /><br />
        }
    </div>
}

@code {
    [Parameter]
    public string? ID { get; set; }
    private Device? device = null;

    protected override void OnInitialized()
    {
        ID = ID ?? "fantastic";
    }

    private JsonElement properties;
    protected override async Task OnInitializedAsync()
    {
        if (await _localStorageService.GetItem<string>("token") != null)
        {
            this.logger.LogWarning("start on initiatized");

            this.properties = await this.deviceService.Properties(ID);
            this.properties = properties.GetProperty("value");
            System.Console.WriteLine(properties);
            this.device = await this.deviceService.GetDevice(ID);
            @* var jo = JObject.Parse(await this.deviceService.Properties(ID));
                var id = jo["value"]["on"].ToString();*@
            //Console.WriteLine(properties.GetProperty("value"));
        }
        else
        {
            NavManager.NavigateTo("/Login", true);
        }
    }

    public async void UpdateHeading(string propertyName, object value)
    {
        System.Console.WriteLine(value.GetType());
        await this.deviceService.ChangeProperty(ID, propertyName, value);
        this.properties = await this.deviceService.Properties(ID);
        this.properties = properties.GetProperty("value");
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
}
